<!-- views/change-password.ejs -->
<div class="cp-form-container">
    <h2>Change Password</h2>
    <% if (errorMessage && errorMessage.length > 0) { %>
      <div class="cp-error-message">
        <%= errorMessage %>
      </div>
    <% } %>
    <% if (successMessage && successMessage.length > 0) { %>
      <div class="cp-success-message">
        <%= successMessage %>
      </div>
    <% } %>
    <form action="/change-password" method="POST">
      <input type="password" name="currentPassword" placeholder="Current Password" class="cp-input" required>
      <input type="password" name="newPassword" placeholder="New Password" class="cp-input" required>
      <input type="password" name="confirmPassword" placeholder="Confirm New Password" class="cp-input" required>
      <button type="submit" class="cp-button">Change Password</button>
    </form>
    <p><a href="/profile" class="cp-back-link">Back to Profile</a></p>
  </div>